@use 'colors.scss' as *;

#scene-panel {
    top: 102px;
    left: calc(24px + var(--camera-frames-help-offset-left, 0px));
    width: 320px;
}

.collapsed #scene-panel {
    display: none;
}

.splat-list-container,
.mesh-list-container {
    max-height: 300px;
    overflow: auto;
}

.panel-header-slider {
    margin: 4px 12px;
}

.panel .light-button,
.panel .light-reset-button {
    color: $text-secondary;

    svg {
        color: inherit;
    }
}

.panel .light-button.active {
    color: $clr-hilight;
    background-color: rgba($clr-hilight, 0.12);
}
